<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            {{ message }}
        </div>

        <div id="app-2">
            <span v-bind:title="message">
              Hover your mouse over me for a few seconds
              to see my dynamically bound title!
            </span>
          </div>

          <div id="app-3">
            <span v-if="seen">Now you see me</span>
          </div>

          <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>

          <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
          </div>

          <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
          </div>

          <div id="app-7">
            <ol>
              <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
              -->
              <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
              ></todo-item>
            </ol>
          </div>

          <div id="example">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
          </div>

          <div id="demo">{{ fullNameV1 }},  Old Version: {{ fullName }}</div>

          <div id="watch-example">
            <p>
              Ask a yes/no question:
              <input v-model="question">
            </p>
            <p>{{ answer }}</p>
          </div>

          <ul id="example-1">
            <li v-for="item in items">
              {{ item.message }}
            </li>
          </ul>

          <ul id="example-2">
            <li v-for="(item, index) in items">
              {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
          </ul>

          <ul id="v-for-object" class="demo">
            <li v-for="value in object">
              {{ value }}
            </li>
            <div v-for="(value, key) in object">
                    {{ key }}: {{ value }}
            </div>

            <div v-for="(value, key, index) in object">
                    {{ index }}. {{ key }}: {{ value }}
                  </div>
    
    
          </ul>

          <div id="vmprofile">
            <p>Name {{ userProfile.name }}</p>
            <p>Age {{ userProfile.age }}</p>
            <p>City {{ userProfile.city }}</p>
            <p>Color {{ userProfile.favoriteColor }}</p>
          </div>


          <div id="todo-list-example">
            <form v-on:submit.prevent="addNewTodo">
              <label for="new-todo">Add a todo</label>
              <input
                v-model="newTodoText"
                id="new-todo"
                placeholder="E.g. Feed the cat"
              >
              <button>Add</button>
            </form>
            <ul>
              <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
              ></li>
            </ul>
          </div>

        <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="index.js"></script>
        <script src="todo.js"></script>

    </body>
</html>